#boardInput {
    display: block;
    line-height: 40px;
    margin-top: 200px;
}

#boardInput :nth-child(n) {
    width: 70%;
    float: center;
    margin-left: 200px;
    margin-top: 10px;
} 

#chess-board {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: 200px;
    margin-top: 50px;
}
#chess-board th { 
    padding: .5em;
}
#chess-board td {
    border: 1px solid;
    width: 5em;
    height: 5em;
}
#chess-board .light {
    background: #eee;
}
#chess-board .dark {
    background: #000;
}

#chess-board img {
    width: 100%;
    height: 100%;
}